{% extends 'base_back.html.twig' %}

{% block title %}Ajouter des Ingredient{% endblock %}

{% block body %}
<style>
form {
    display: block;
    margin-top: 0em;
    margin-left:20%;
}
label {
    margin-top: 0.5rem;
    display: inline-block;
    margin-bottom: 1.5rem;
    color: white;
}
input {
    overflow: visible;
    margin-left: 2rem;
}
h1{
    margin-left:20%;
    color:#ffff;
}
</style>
    <h1>Add Ingredient</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.calories)}}
        {{ form_row(form.quantite) }}

    {{ form_end(form) }}


{% endblock %}
