{% extends 'base_back.html.twig' %}

{% block title %}Ingredients{% endblock %}

{% block body %}
<style>
h1 {
    font-size: 3rem;
    margin-left: 18%;
    color: white;
}
p{
         margin-top: 0;
         margin-bottom: 1rem;
         margin-left: 18%;
        }
table {
  border-collapse: collapse;
  margin: auto;
  width: 50%;
  margin-left: 14rem;
  color: #ffff;
}

table td, table th {
  padding: 0.75rem;
  vertical-align: top;
  border: 2px solid #dee2e6;
  text-align: center;
  color: #ffff;
}
button, input {
    overflow: visible;
    margin-left: 16rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}
</style>
    <h1>Ingredients</h1>

    {% if ingredient is empty %}
        <p>No ingredients found.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Calories</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ingr in ingredient %}
                    <tr>
                        <td>{{ ingr.id }}</td>
                        <td>{{ ingr.name }}</td>
                        <td>{{ ingr.calories}}</td>
                        <td>{{ ingr.quantite }}</td>
                        <td>
                            <a href="{{ path('ingredient_edit', {'id': ingr.id}) }}" class="btn btn-primary">Modifier</a>
                            <a href="{{path('ingredient_delete',{'id':ingr.id}) }}">Supprimer</a>

                        </td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>

    {% endif %}
    <a href="{{asset('addingredient')}}"><button type="submit" class="btn btn-primary">Ajouter des Ingredients</button></a>
{% endblock %}
