{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}




   

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}})  }}

<span class="form-group " >
<span class="col-md-20 ">

{{ form_label (form.nom,"le nom est: ")}}
{{ form_widget(form.nom ,{'attr': {'class': 'form-inline'}}) }}
{{ form_errors(form.nom) }} 
</span>
<br>
<br>
<span class="col-md-20 ">

{{ form_label (form.description,"la description est :")}}
{{ form_widget(form.description ,{'attr': {'class': 'form-inline'}}) }}
{{ form_errors(form.description) }} 
<br>
<br>

</span>
<button class="btn">{{ button_label|default('Ajouter') }}</button>
<br>
{{ form_end(form) }}

