{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
 #}
 
   
   <div class="row">
          <div class="col-20">

{{ form_start(form, {'attr': {'novalidate': 'novalidate' ,'style': 'display:inline'}})}}
<span class="form-group " >
<span class="col-md-15 ">
{{ form_label (form.nom,"le nom est :") }}

    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
      {{ form_errors(form.nom) }} 
 </span>
    <br>


 <span class="col-md-20 col-md-offset-1">
   {{ form_label (form.prix,"le prix  est : ") }}
     {{ form_widget(form.prix, {'attr': {'class': 'form-inline'}}) }}
       {{ form_errors(form.prix) }} 
 </span>  
<br>
 
     {{ form_label (form.image,"insérer l'image:' ")  }}
     {{ form_widget(form.image) }}
    <br>
     <br>

 <span class="col-md-20 col-md-offset-1">
     {{ form_label (form.description,"description :") }}
     {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
     {{form_errors(form.description)}}
     </span> 

    <br>

    {{ form_rest(form) }}
 </span>
  

    <button class="btn btn-secondary">{{ button_label|default('Ajouter  ') }}</button>
    <br>
    
{{ form_end(form) }}



</div>
</div>
