{% extends 'back.html.twig' %}
{% block title %}Ajouter une serie
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="x_panel">

				<div class="x_content">

					{{ form_start(f, {'attr': {'novalidate': 'novalidate'}}) }}
					<br>

					<div class="col-md-12 offset-md-3">

						<div class="form-group input-group col-md-6 col-sm-6">
							<label>{{ form_label(f.titreSerie,"Titre de serie") }}</label>

						</div>
					</div>
					<div class="col-md-12 offset-md-3">

						<div class="form-group input-group col-md-6 col-sm-6">

							{{form_widget(f.titreSerie,{'attr':{'class':'form-control'}})}}


						</div>

					</div>
					<div class="col-md-12 offset-md-3">

						<div class="form-group input-group col-md-6 col-sm-6">

							<span style="color: red;">{{ form_errors(f.titreSerie )}}</span>


						</div>

					</div>
					<div class="col-md-12 offset-md-3">

						<div class="form-group input-group col-md-6 col-sm-6">
							<label>{{ form_label(f.exercices,"Les series") }}</label>

						</div>
					</div>
					<div class="col-md-12 offset-md-3">

						<div class="form-group input-group col-md-6 col-sm-6">

							{{form_widget(f.exercices)}}


						</div>

					</div>
					<div class="col-md-12 offset-md-3">

						<div class="form-group input-group col-md-6 col-sm-6">

							<span style="color: red;">{{ form_errors(f.exercices )}}</span>


						</div>

					</div>


					<br>
					<br>
					<div class="col-md-12 offset-md-3">

						<div class="form-group input-group col-md-6 col-sm-6">
							<label>Image serie</label>

						</div>
					</div>
					<div class="col-md-12 offset-md-3">
						<div class="input-group col-md-6 col-sm-6">
							<div class="custom-file">
								{{ form_widget(f.image, {'attr': {'class': 'custom-file-input', 'id': 'id="customFile"'}, 'label': 'Choisir une image'}) }}
								<label class="custom-file-label" for="inputGroupFile01">choisir une image</label>
							</div>
						</div>


					</div>
					<div class="col-md-12 offset-md-3">
						<div class="form-group input-group col-md-6 col-sm-6">
							<span style="color: red;">{{ form_errors(f.image) }}</span>
						</div>
					</div>

				</div>


				<div class="col-md-12 offset-md-3">

					<div class="form-group input-group col-md-6 col-sm-6">

						{{form_widget(f.ajouter_serie,{'attr':{'class':'btn btn-primary'}})}}
						<button type="button" class="btn btn-light">
							<a href="{{path('listSerie') }}">Retour</a>
						</button>
					</div>
				</div>

				{{form_end(f)}}
			</div>
		</div>
	</div>
</div>{% endblock %}
