{% extends 'back.html.twig' %}
{% block title %}La liste des exercices
	<button type="button" class="btn btn-info">
		<a href="{{path('pdf_exercices') }}">Pdf</a>
	</button>
{% endblock %}
{% block body %}
<div class="col-md-12 col-sm-12  ">
	<div class="x_panel">
		<div class="x_title">


			<div class="table-responsive">
				<form class="search-container">
					<input class="form-control border-0" type="search" placeholder="Search" id="myInput">
				</form>
				<table class="table table-striped jambo_table bulk_action" id="myTable">
					<thead>
						<tr class="headings">
							<th>
								<div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px none; opacity: 0;"></ins>
								</div>
							</th>
							<th class="column-title" style="display: table-cell;">Id exercice
							</th>
							<th class="column-title" style="display: table-cell;">Nom exercice
							</th>
							<th class="column-title" style="display: table-cell;">Image exercice
							</th>
							<th class="column-title" style="display: table-cell;">Duration
							</th>
							<th class="column-title" style="display: table-cell;">Instruction
							</th>
							<th class="column-title" style="display: table-cell;">Repetition
							</th>
							<th class="column-title" style="display: table-cell;">Equipement
							</th>
							<th class="column-title" style="display: table-cell;">Action
							</th>


							<th class="bulk-actions" colspan="7" style="display: none;">
								<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions (
									<span class="action-cnt">1 Records Selected</span>
									)
									<i class="fa fa-chevron-down"></i>
								</a>
							</th>
						</tr>
					</thead>

					<tbody id="myTable">
						{% for i in exercices %}
							<tr class="even pointer">
								<td class="a-center ">
									<div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px none; opacity: 0;"></ins>
									</div>
								</td>
								<td class=" ">{{i.id}}</td>
								<td class=" ">{{i.nomExercice}}
								</td>
								<td class=" "><img class="img-thumbnail" src={{ asset('uploads/exercices/' ~ i.imageExercice) }} height="100px" width="100px"/>
								</td>
								<td class=" ">{{i.duration}}
								</td>
								<td class=" ">{{i.instruction}}
								</td>
								<td class=" ">{{i.repetation}}
								</td>
								<td class=" ">{{i.equipement.nomEquipement}}
								</td>

								<td class=" last">


									<button type="button" class="btn btn-info">
										<a href="{{path('updateExercice',{'id':i.id}) }}">Modifier</a>
									</button>
									<button type="button" class="btn btn-danger">
										<a href="{{path('deleteExercice',{'id':i.id}) }}">Supprimer</a>
									</button>


								</td>
							</tr>
						</td>
					</tbody>
				</tr>
			</form>
		</tbody>
	</td>


</tr>{% endfor %}</tbody></table></div></div></div></div><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><script>console.log("hello");
$(document).ready(function () {

$("#myInput").on("keyup", function () {

var value = $(this).val().toLowerCase();
$("#myTable tr").filter(function () {
$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});
});</script>{% endblock %}
